
/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
 @import '../_variables.scss';

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 93%;
  height: 300px;
  margin: 0px auto;
  background-color: $bg-modal;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  border-radius: 7px;

    .modal-close-top-button {
      position: absolute;
      background: none;
      border: none;
      background-color: rgb(0,33,71);
      border-radius: 17px;
      color: $text-color;
      padding: 6px 12px;
      top: 12px;
      right: 17px;
      cursor: pointer;
    }

    .bg-program {
      width: 100%;
      height: 210px;
      border-radius: 7px 7px 0px 0px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .modal-body {
        position: relative;
        top: -140px;
      
      h3 {
        margin: 0 auto 10px; 
        color: $text-color;
        text-align: center;
        font-size: 27px;
        font-family: $roboto-regular;
        font-style: italic;
        font-weight: 100;
        text-shadow: 3px 2px 2px rgba(0, 0, 0, 3);
      }

      p {
        color: $text-color;
        line-height: normal;
        text-align: center;
        font-size: 23px;
        font-family: $roboto-regular;
        font-weight: 100;
        margin: 0;
        text-shadow: 3px 2px 2px rgba(0, 0, 0, 3);
      }

      .modal-default-button {
        color: $text-color;
        background-color: $bg-modal-button;
        border: none;
        border-radius: 50px;
        padding: 10px 30px;
        font-size: 1.2em;
        cursor: pointer;
        display: block;
        margin: 27px auto 0;
        display: block;
        width: 95%;
        font-weight: 100;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        
        &:hover {
          background-color: $bg-modal-button-hover;
        }
      }
    }

    @media (min-width: 630px) and (orientation: landscape) {
      width: 73%;
    }

    @media (min-width: 768px) {
      width: 73%;
    }
    
    @media (min-width: 992px) {
      width: 47%;
    }

    @media (min-width: 1024px) and (orientation: landscape) {
      width: 47%;
    }

    @media (min-width: 1200px) {
      width: 34%;
    }

    @media (min-width: 1400px) {
      width: 26%;
    }
    
}

.success {
  
  .modal-container {
    height: 390px;

    .modal-body {
      top: 0px;
    }

    .bg-icon {
      margin: 0 auto 25px;
      width: 64px;
      padding-top: 20px;
    }

    span {
      -webkit-font-smoothing: antialiased;
      font-size: 17px;
      display: block;
      text-align: center;
    }
    
    p {
      -webkit-font-smoothing: antialiased;
      text-shadow: none;
      font-style: italic;
    }

    p.hour {
      margin-bottom: 20px;
    }

    img {
      margin: 0 auto;
      display: block;
    }

  }

}
